.footer{
    padding: 60px 15% 60px 20%;
    background-color: aqua;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
}
.column{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 60px;
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}
.footer__link{
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    text-decoration: none;
}
.footer__link:hover{
    color: #ff9c00;
    transition: 200ms ease-in;
}
.title{
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
    font-weight: bold;
}

@media(max-width:1500px){
    .footer{
        padding: 70px 30px;
    }
    .row{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}